{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}




<div class="swiper-container homeswiper mt-5">
    {% include 'place/_search.html.twig' %}
  <div class="swiper-wrapper" style="z-index: -1;">
    <div class="swiper-slide w-100" style="background-image: url(' {{ asset("./accueil/carousel/image.jpg") }} ') " > </div>
    <div class="swiper-slide w-100" style="background-image: url('{{ asset("./accueil/carousel/Jeju-Cascade-Cheonjeyeon.jpg") }}')"></div>
    <div class="swiper-slide w-100" style="background-image: url('{{ asset("./accueil/carousel/.jpg") }}')"></div>
  </div>
</div>



<div class="container mt-5">
  <h4>Explorer les environs</h4>
  <div class="swiper-container explor_swiper mt-3">
  <div class="swiper-wrapper">
    <a href="{{ path('carnet_de_route') }}?city=Seoul" class="swiper-slide" ><img class="rounded" src="{{ asset('./accueil/explorer/seoul.jpg') }}" alt=""><p class="fs-5">Seoul</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Busan" class="swiper-slide"><img class="rounded" src="{{ asset('./accueil/explorer/busan.jpg') }}" alt=""><p class="fs-5">Busan</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Jeju" class="swiper-slide"><img class="rounded" src="{{ asset('./accueil/explorer/jeju.jpg') }}" alt=""><p class="fs-5">L'île de Jeju</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Sokcho" class="swiper-slide"><img class="rounded" src="{{ asset('./accueil/explorer/sokcho.jpg') }}" alt=""><p class="fs-5">Sokcho</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Chuncheon" class="swiper-slide"><img class="rounded" src="{{ asset('./accueil/explorer/Chuncheon.jpg') }}" alt=""><p class="fs-5">Chuncheon</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Incheon" class="swiper-slide"><img class="rounded" src="{{ asset('./accueil/explorer/incheon.jpg') }}" alt=""><p class="fs-5">Incheon</p></a>
  </div>
  <div class="swiper-button-next explor_next "></div>
  <div class="swiper-button-prev explor_prev "></div>
</div>
</div>

<div class="container mt-5">
  <h4>Un thème particulier ?</h4>
    <div class="swiper-container theme mt-3">
      <div class="swiper-wrapper">
        <a href="{{ path('carnet_de_route') }}?q=forêt" class="swiper-slide"><img class="rounded" src="{{ asset('./accueil/theme/foret.jpg') }}" alt=""><p class="fs-5">Forêt</p></a>
        <a href="{{ path('carnet_de_route') }}?q=montagne" class="swiper-slide"><img class="rounded" src="{{ asset('./accueil/theme/montagne.jpg') }}" alt=""><p class="fs-5">Montagne</p></a>
        <a href="{{ path('carnet_de_route') }}?q=campagne" class="swiper-slide"><img class="rounded" src="{{ asset('./accueil/theme/campagne.jpg') }}" alt=""><p class="fs-5">Campagne</p></a>
        <a href="{{ path('carnet_de_route') }}?q=plage" class="swiper-slide"><img class="rounded" src="{{ asset('./accueil/theme/plage.jpg') }}" alt=""><p class="fs-5">Plage</p></a>
      </div>
</div>
</div>


<div class="container mt-5 coup_de_coeur rounded d-flex align-items-center border" style="background-image: url('{{ asset("./accueil/theme/coup_de_coeur.jpg") }}') ;">
  <a href="{{ path('carnet_de_route') }}?filtre=aime" class="btn btn-warning d-block">Découvrez nos coups de coeurs</a>
</div>

<div class="container type_voyageur mt-5">
  <h1 class="text-center position-relative">Quel type de voyageur êtes-vous ?</h1>
  <div class="d-flex justify-content-around mt-5 flex-wrap align-items-center">
    <div class="type_option text-center">
      <p class="fs-1 title">Novice</p>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
       <p><small>Moins de 30 publications</small></p>
    </div>

    <div class="type_option text-center">
      <p class="fs-1 title">Aquerie</p>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
       <p><small>Entre 30 et 50 publications</small></p>
    </div>

    <div class="type_option text-center">
      <p class="fs-1 title">Expert</p>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
       <p><small>Plus de 300 publications</small></p>
    </div>

  </div>
</div>

<!--Gagner des cadeaux-->
<div class="my-5 container">
  <div class="row flex-md-row flex-column-reverse align-items-center">
    <div class="col-md-7">
      <img class="img-fluid" src="{{ asset('./galery/plan1.png') }}" alt="">
    </div>
    <div class="col-md-5 mb-3">
      <h1>Tantez de gagner des cadeaux </h1>
      <h2>En partageant vos coups de coeurs</h2>
      <a href="{{ path('place_new') }}" class="btn btn-primary btn-lg mt-3">Je partage <i class="fas fa-caret-right" ></i></a>
    </div>
    </div>
</div>


{% block javascrips %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>


  <script>



       var swiper = new Swiper(".homeswiper", {
        spaceBetween: 30,
        effect: "fade",
        centeredSlides: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },

      });



      var explorswiper = new Swiper(".explor_swiper", {
        slidesPerView: 2,
        spaceBetween: 20,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".explor_next",
          prevEl: ".explor_prev",
        },
        breakpoints: {
          500: {
            slidesPerView: 2,
            spaceBetween: 20,
          },

          1024: {
            slidesPerView: 3,
            spaceBetween: 50,
          },
        },

      });

      var theme = new Swiper(".theme", {
        slidesPerView: 2,
        spaceBetween: 20,
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },

          1024: {
            slidesPerView: 3,
            spaceBetween: 50,
          },
        }
      });

  </script>
{% endblock %}



{% endblock %}
