{% extends 'base.html.twig' %}
{% block title %}COREEGO - découvrir la Corée Du Sud n'a jamais été aussi facile{% endblock %}

{% block metadescription %}
<meta name="description" content="Découvrez les lieux les plus insolites de Corée Du Sud et élaborer sur mesure votre carnet de voyage par thèmes et les recommandations des utilisateurs, découvrir la Corée Du Sud n'a jamais été aussi facile">
{% endblock %}

{% block body %}


<div class="swiper-container homeswiper position-relative mt-5 w-100">
    <div class="swiper-wrapper" style="z-index: -1;">
      <div class="swiper-slide" style="background-image: url(' {{ asset("./accueil/carousel/temple_boudisme.jpg") }} '); "></div>
      <div class="swiper-slide" style="background-image: url(' {{ asset("./accueil/carousel/image.jpg") }} '); "></div>
    <div class="swiper-slide" style="background-image: url('{{ asset("./accueil/carousel/Seoul.jpg") }}'); "></div>
    <div class="swiper-slide" style="background-image: url('{{ asset("./accueil/carousel/Jeju-Cascade-Cheonjeyeon.jpg") }}'); "></div>
    <div class="swiper-slide" style="background-image: url('{{ asset("./accueil/carousel/sunset-3664096_1280.jpg") }}'); "></div>
  </div>
  <div class="text_banner position-absolute text-center  text-white">
    <p class="fw-bold h1">VOYAGEZ, PARTAGEZ</p>
    <p class="fw-bold h1">PROFITEZ</p>
    <a href="#main" style="font-size: 2rem" ><i class="fas fa-sort-down"></i></a>
  </div>
</div>

<div id="main"></div>
<!--NOS RECOMMANDATIONS-->
{% if premiums | length > 0  %}
<div class="container  mt-4">
  <h4 class="">Nos recommandations</h4>
  <a href="">Voir tout</a>
  <div class="swiper-container bigimg my-3">
  <div class="swiper-wrapper">
    {% for premium in premiums %}
    <a href="{{ path('place_show', {'id' : premium.id } ) }}" class="swiper-slide" >
      <img class="shadow" src="{{ asset('./place/') }}{{ premium.images[0].name }}" alt="{{ premium.images[0].name }}">
      <p>
        <span class="bleu fw-bold"><i class="fas fa-map-marker-alt"></i> {{ premium.city.name }}</span> <br>
        {{ premium.title }}
      </p>
    </a>
    {% endfor %}
  </div>
  <div class="swiper-button-next explor_next"></div>
  <div class="swiper-button-prev explor_prev"></div>
</div>
</div>

<div class="border-bottom container" style="max-width: 90%;"></div>
{% endif %}

<div class="container  my-3">
  <h4 class="">Explorer des villes</h4>
  <div class="swiper-container explor_swiper my-3">
  <div class="swiper-wrapper">
    <a href="{{ path('carnet_de_route') }}?city=Seoul" class="swiper-slide" ><img class="shadow" src="{{ asset('./accueil/explorer/seoul.jpg') }}" alt=""><p >Seoul</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Busan" class="swiper-slide"><img src="{{ asset('./accueil/explorer/busan.jpg') }}" alt=""><p >Busan</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Jeju" class="swiper-slide"><img  src="{{ asset('./accueil/explorer/jeju.jpg') }}" alt=""><p >L'île de Jeju</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Sokcho" class="swiper-slide"><img  src="{{ asset('./accueil/explorer/sokcho.jpg') }}" alt=""><p >Sokcho</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Chuncheon" class="swiper-slide"><img src="{{ asset('./accueil/explorer/Chuncheon.jpg') }}" alt=""><p >Chuncheon</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Incheon" class="swiper-slide"><img  src="{{ asset('./accueil/explorer/incheon.jpg') }}" alt=""><p >Incheon</p></a>
  </div>
  <div class="swiper-button-next explor_next "></div>
  <div class="swiper-button-prev explor_prev "></div>
</div>
</div>

<div class="border-bottom container" style="max-width: 90%;"></div>

<div class="container  my-4">
  <h4 class="">Lieux insolites</h4>
  <div class="swiper-container explor_swiper mt-3">
  <div class="swiper-wrapper">
    {% for lieuxinsolite in lieuxinsolites %}
      <a href="{{ path('place_show', {'id' : lieuxinsolite.id} ) }} " class="swiper-slide" >
      <img class="shadow" src="{{ asset('./place/') }}{{ lieuxinsolite.images[0].name }}" alt="">
      <p>
        <span class="bleu fw-bold"><i class="fas fa-map-marker-alt"></i> {{ lieuxinsolite.city.name }}</span> <br>
        {{ lieuxinsolite.title }}
      </p>
    </a>
    {% endfor %}
  </div>
  <div class="swiper-button-next explor_next "></div>
  <div class="swiper-button-prev explor_prev "></div>
</div>
</div>

<div class="border-bottom container" style="max-width: 90%;"></div>

<div class="container  my-4">
  <h4 class="">Nature</h4>
  <div class="swiper-container explor_swiper mt-3">
  <div class="swiper-wrapper">
    {% for nature in natures %}
      <a href="{{ path('place_show', {'id' : nature.id} ) }} " class="swiper-slide" >
      <img class="shadow" src="{{ asset('./place/') }}{{ nature.images[0].name }}" alt="">
      <p>
        <span class="bleu fw-bold"><i class="fas fa-map-marker-alt"></i> {{ nature.city.name }}</span> <br>
        {{ nature.title }}
      </p>
    </a>
    {% endfor %}
  </div>
  <div class="swiper-button-next explor_next "></div>
  <div class="swiper-button-prev explor_prev "></div>
</div>
</div>

<div class="border-bottom container" style="max-width: 90%;"></div>

<div class="container  my-4">
  <h4 class="">Panoramas</h4>
  <div class="swiper-container explor_swiper mt-3">
  <div class="swiper-wrapper">
    {% for panorama in panoramas %}
    <a href="{{ path('place_show', {'id' : panorama.id} ) }} " class="swiper-slide" >
      <img class="shadow" src="{{ asset('./place/') }}{{ panorama.images[0].name }}" alt="">
      <p>
        <span class="bleu fw-bold"><i class="fas fa-map-marker-alt"></i> {{ panorama.city.name }}</span> <br>
        {{ panorama.title }}
      </p>
    </a>
      {% endfor %}
  </div>
  <div class="swiper-button-next explor_next "></div>
  <div class="swiper-button-prev explor_prev "></div>
</div>
</div>

{% block javascrips %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://js.stripe.com/v3/"></script>
  <script>
       var swiper = new Swiper(".homeswiper", {
        spaceBetween: 30,
        effect: "fade",
        centeredSlides: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },

      });

      var explorswiper = new Swiper(".bigimg", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".explor_next",
          prevEl: ".explor_prev",
        },
        breakpoints: {
          500: {
            slidesPerView: 2,
            spaceBetween: 20,
          },

          1024: {
            slidesPerView: 4,
            spaceBetween: 30,
          },
        },

      });

      var explorswiper = new Swiper(".explor_swiper", {
        slidesPerView: 2,
        spaceBetween: 20,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".explor_next",
          prevEl: ".explor_prev",
        },
        breakpoints: {
          500: {
            slidesPerView: 2,
            spaceBetween: 20,
          },

          1024: {
            slidesPerView: 4,
            spaceBetween: 50,
          },
        },

      });

      var theme = new Swiper(".theme", {
        slidesPerView: 2,
        spaceBetween: 20,
        navigation: {
          nextEl: ".theme_next",
          prevEl: ".theme_prev",
        },
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },

          1024: {
            slidesPerView: 3,
            spaceBetween: 50,
          },
        }
      });

  </script>




{% endblock %}



{% endblock %}
