{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}




<div class="swiper-container homeswiper mt-5">
    {% include 'place/_search.html.twig' %}
    <div class="swiper-wrapper" style="z-index: -1;">
      <div class="swiper-slide w-100" style="background-image: url(' {{ asset("./accueil/carousel/temple_boudisme.jpg") }} '); "></div>
      <div class="swiper-slide w-100" style="background-image: url(' {{ asset("./accueil/carousel/image.jpg") }} '); "></div>
    <div class="swiper-slide w-100" style="background-image: url('{{ asset("./accueil/carousel/Seoul.jpg") }}'); "></div>
    <div class="swiper-slide w-100" style="background-image: url('{{ asset("./accueil/carousel/Jeju-Cascade-Cheonjeyeon.jpg") }}'); "></div>
    <div class="swiper-slide w-100" style="background-image: url('{{ asset("./accueil/carousel/sunset-3664096_1280.jpg") }}'); "></div>
  </div>
</div>



<div class="container  mt-5">
  <h4 class="bleu">Explorer les environs</h4>
  <div class="swiper-container explor_swiper mt-3">
  <div class="swiper-wrapper">
    <a href="{{ path('carnet_de_route') }}?city=Seoul" class="swiper-slide" ><img src="{{ asset('./accueil/explorer/seoul.jpg') }}" alt=""><p class="fs-5">Seoul</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Busan" class="swiper-slide"><img src="{{ asset('./accueil/explorer/busan.jpg') }}" alt=""><p class="fs-5">Busan</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Jeju" class="swiper-slide"><img  src="{{ asset('./accueil/explorer/jeju.jpg') }}" alt=""><p class="fs-5">L'île de Jeju</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Sokcho" class="swiper-slide"><img  src="{{ asset('./accueil/explorer/sokcho.jpg') }}" alt=""><p class="fs-5">Sokcho</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Chuncheon" class="swiper-slide"><img src="{{ asset('./accueil/explorer/Chuncheon.jpg') }}" alt=""><p class="fs-5">Chuncheon</p></a>
    <a href="{{ path('carnet_de_route') }}?city=Incheon" class="swiper-slide"><img  src="{{ asset('./accueil/explorer/incheon.jpg') }}" alt=""><p class="fs-5">Incheon</p></a>
  </div>
  <div class="swiper-button-next explor_next "></div>
  <div class="swiper-button-prev explor_prev "></div>
</div>
</div>

<div class="container mt-5">
  <h4 class="bleu">Un thème particulier ?</h4>
    <div class="swiper-container theme mt-3">
      <div class="swiper-wrapper">
        <a href="{{ path('carnet_de_route') }}?categorie=Lieu insolite" class="swiper-slide"><img  src="{{ asset('./accueil/theme/insolite.jpg') }}" alt=""><p class="fs-5">Lieux Insolites</p></a>
        <a href="{{ path('carnet_de_route') }}?categorie=Temple" class="swiper-slide"><img  src="{{ asset('./accueil/theme/temple.jpg') }}" alt=""><p class="fs-5">Temple</p></a>
        <a href="{{ path('carnet_de_route') }}?categorie=Forêt" class="swiper-slide"><img  src="{{ asset('./accueil/theme/foret.jpg') }}" alt=""><p class="fs-5">Forêts</p></a>
        <a href="{{ path('carnet_de_route') }}?categorie=Montagne" class="swiper-slide"><img  src="{{ asset('./accueil/theme/montagne.jpg') }}" alt=""><p class="fs-5">Montagnes</p></a>
        <a href="{{ path('carnet_de_route') }}?categorie=Architectures" class="swiper-slide"><img  src="{{ asset('./accueil/theme/architecture.jpg') }}" alt=""><p class="fs-5">Architectures</p></a>
        <a href="{{ path('carnet_de_route') }}?categorie=Campagne" class="swiper-slide"><img  src="{{ asset('./accueil/theme/campagne.jpg') }}" alt=""><p class="fs-5">Campagnes</p></a>
        <a href="{{ path('carnet_de_route') }}?categorie=Plage" class="swiper-slide"><img src="{{ asset('./accueil/theme/plage.jpg') }}" alt=""><p class="fs-5">Plages</p></a>
      </div>
      <div class="swiper-button-next theme_next "></div>
      <div class="swiper-button-prev theme_prev "></div>
</div>
</div>


<div class="container mt-5 coup_de_coeur rounded d-flex align-items-center border" style="background-image: url('{{ asset("./accueil/theme/coup_de_coeur.jpg") }}') ;">
  <a href="{{ path('carnet_de_route') }}?filtre=aime" class="btn btn-warning d-block">Découvrez nos coups de coeurs</a>
</div>

<div class="container d-block type_voyageur mt-5">
  <h1 class="text-center position-relative bleu">Quel type de voyageur êtes-vous ?</h1>
  <div class="d-flex justify-content-around mt-5 flex-wrap align-items-center">
    <div class="type_option shadow text-center">
      <p class="fs-1 title">Novice</p>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
       <p><small>Moins de 50 publications</small></p>
    </div>

    <div class="type_option shadow text-center">
      <p class="fs-1 title">Aguerri</p>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
       <p><small>de 50 à 300 publications</small></p>
    </div>

    <div class="type_option shadow text-center">
      <p class="fs-1 title">Expert</p>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
      <i class="fas fa-star text-warning fs-1 mb-3"></i>
       <p><small>Plus de 300 publications</small></p>
    </div>
  </div>
  <div class="w-100 text-center">
    <a href="{{ path('place_new') }}" class="btn btn-primary">Je partage <i class="fas fa-caret-right" ></i></a>
  </div>
</div>


<!--Devenir premium-->

<div class="premium py-5 mt-5" >
  <h1 class="text-primary text-center mb-2 bleu">
    Accés<br>
    <span style="color: yellow" class="fw-bold">VIP</span>
  </h1>

<div class="d-flex flex-wrap justify-content-center">

  <div class="card-premium mb-5" style="width: 350px; max-width: 100%;">
    <div class="premium_header bg_rouge py-3 text-center">
      <h1 class="fw-bold text-white">Basic</h1>
      <i class="mb-4">Aidez-nous à nous développer</i>
      <p class="fs-1 text-white fw-bold"> 2,90 <span class="fs-4">€</span> <span class="fs-6 align-top" >/mois</span> </p>
    </div>
    <div class="premium_content shadow">
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p>Accès à la page évènement</p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-times fs-3 me-3" style="color: red"></i>
        <p>Implémanter la page évènement</p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p class="text-end">Participer aux evennements premium </p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p class="text-end">Participation aux jeux concours </p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-times fs-3 me-3" style="color: red"></i>
        <p class="text-end">Mise en avant des lieux</p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p class="text-end">Modification du pseudo</p>
      </div>
    </div>
    <div class="premium-footer text-center">
      <form action="{{ path('stripe_basic') }}" method="POST">
        <!-- Note: If using PHP set the action to /create-checkout-session.php -->
        <input type="hidden" name="priceId" value="price_1JHaI5AbBq4Fu4eUZlEMvEM3" />
        <button class="btn btn-danger">J'en profite</button>
      </form>
    </div>
  </div>

  <div class="card-premium" style="width: 350px; max-width: 100%">
    <div class="premium_header bg_rouge py-3 text-center">
      <h1 class="fw-bold text-white">Entreprise</h1>
      <i class="mb-4">Réserver aux entreprises</i>
      <p class="fs-1 text-white fw-bold"> 59,90 <span class="fs-4">€</span> <span class="fs-6 align-top" >/mois</span> </p>
    </div>
    <div class="premium_content shadow">
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p>Accès à la page évènement</p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p>Implémanter la page évènement</p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p class="text-end">Participer aux evennements premium </p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p class="text-end">Participation aux jeux concours </p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p class="text-end">Mise en avant des lieux</p>
      </div>
      <div class="d-flex  align-content-center justify-content-between">
        <i class="fas fa-check fs-3 me-3" style="color: rgb(65, 218, 134)"></i>
        <p class="text-end">Modification du pseudo</p>
      </div>
    </div>
    <div class="premium-footer text-center">
      <form action="{{ path('stripe_entreprise') }}" method="POST">
        <!-- Note: If using PHP set the action to /create-checkout-session.php -->
        <input type="hidden" name="priceId" value="price_1JHaJVAbBq4Fu4eUorTAgJtP" />
        <button class="btn btn-danger">J'en profite</button>
      </form>
    </div>
  </div>

</div>

</div>


{% block javascrips %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

  <script>
       var swiper = new Swiper(".homeswiper", {
        spaceBetween: 30,
        effect: "fade",
        centeredSlides: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },

      });
      var explorswiper = new Swiper(".explor_swiper", {
        slidesPerView: 2,
        spaceBetween: 20,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".explor_next",
          prevEl: ".explor_prev",
        },
        breakpoints: {
          500: {
            slidesPerView: 2,
            spaceBetween: 20,
          },

          1024: {
            slidesPerView: 3,
            spaceBetween: 50,
          },
        },

      });

      var theme = new Swiper(".theme", {
        slidesPerView: 2,
        spaceBetween: 20,
        navigation: {
          nextEl: ".theme_next",
          prevEl: ".theme_prev",
        },
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },

          1024: {
            slidesPerView: 3,
            spaceBetween: 50,
          },
        }
      });

  </script>




{% endblock %}



{% endblock %}
