{% extends 'base.html.twig' %}

{% block title %}Hello ActualiteController!{% endblock %}

{% block body %}
<div class="banner_actu top_margin d-flex justify-content-center align-items-center">
    <h1 class="text-white text-center">ACTUALITES</h1>
</div>

<section class="container">
    <div class="row">
        <div class="actualite_option mb-4 col-md-4 col-12">
            <div class="actualite_header">
                <img src="{{ asset('actualite/jeju.jpg') }}" class="w-100" alt="">
            </div>
            <div class="actu_content">
                <p class="bleu mt-2">05 aout 2021</p>
                <h3>Titre de l'actualite</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, dolor laborum! Aliquid omnis consectetur saepe pariatur, quis repellat. Nemo eaque accusantium minus earum quo pariatur alias praesentium incidunt in eos?</p>
                <a class="btn btn-primary" href="#">Lire plus</a>
            </div>
        </div>
        <div class="actualite_option mb-3 col-md-4 col-12">
            <div class="actualite_header">
                <img src="{{ asset('actualite/jeju.jpg') }}" class="w-100" alt="">
            </div>
            <div class="actu_content">
                <p class="bleu mt-2">05 aout 2021</p>
                <h3>Titre de l'actualite</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, dolor laborum! Aliquid omnis consectetur saepe pariatur, quis repellat. Nemo eaque accusantium minus earum quo pariatur alias praesentium incidunt in eos?</p>
                <a class="btn btn-primary" href="#">Lire plus</a>
            </div>
        </div>
        <div class="actualite_option mb-3 col-md-4 col-12">
            <div class="actualite_header">
                <img src="{{ asset('actualite/jeju.jpg') }}" class="w-100" alt="">
            </div>
            <div class="actu_content">
                <p class="bleu mt-2">05 aout 2021</p>
                <h3>Titre de l'actualite</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, dolor laborum! Aliquid omnis consectetur saepe pariatur, quis repellat. Nemo eaque accusantium minus earum quo pariatur alias praesentium incidunt in eos?</p>
                <a class="btn btn-primary" href="#">Lire plus</a>
            </div>
        </div>
        <div class="actualite_option mb-3 col-md-4 col-12">
            <div class="actualite_header">
                <img src="{{ asset('actualite/jeju.jpg') }}" class="w-100" alt="">
            </div>
            <div class="actu_content">
                <p class="bleu mt-2">05 aout 2021</p>
                <h3>Titre de l'actualite</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, dolor laborum! Aliquid omnis consectetur saepe pariatur, quis repellat. Nemo eaque accusantium minus earum quo pariatur alias praesentium incidunt in eos?</p>
                <a class="btn btn-primary" href="#">Lire plus</a>
            </div>
        </div>
        <div class="actualite_option mb-3 col-md-4 col-12">
            <div class="actualite_header">
                <img src="{{ asset('actualite/jeju.jpg') }}" class="w-100" alt="">
            </div>
            <div class="actu_content">
                <p class="bleu mt-2">05 aout 2021</p>
                <h3>Titre de l'actualite</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, dolor laborum! Aliquid omnis consectetur saepe pariatur, quis repellat. Nemo eaque accusantium minus earum quo pariatur alias praesentium incidunt in eos?</p>
                <a class="btn btn-primary" href="#">Lire plus</a>
            </div>
        </div>

    </div>
    </section>
    {% endblock %}
