{% extends 'base.html.twig' %} {% block title %}Hello ActualiteController!{%
endblock %} {% block body %}

<div class="banner_evenement top_margin d-flex justify-content-center align-items-center">
  <h1 class="text-white text-center">EVENEMENTS</h1>
</div>

<div class="container my-5">
    <div class="row mx-2">
      <h4 class="mb-4 bleu">Evènements à venir</h4>
      {% for evenement in evenements %}
    <div class="col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title ">{{ evenement.titre }}</h4>
                <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-calendar-alt"></i> {{ evenement.date }}</h6>
                <h5><span class="badge bg_bleu">{{ evenement.user.pseudo }}</span></h5>
                <p class="card-text">{{ evenement.content[:150] | raw }}</p>
                <a href="{{ path('evenement_show', {'id' : evenement.id }) }}" class="btn btn-primary">Voir l'évènement</a>
            </div>
        </div>
    </div>
    {% endfor %}
   </div>
</div>

{% endblock %}
