{% extends 'base.html.twig' %}

{% block title %}Edit Place{% endblock %}

{% block body %}

<section class="container top_margin" style="width: 500px; max-width: 100%;">
    {{ form_start(form) }}

    {{ form_row(form.images) }}

    <div class="d-none">
                {{ form_row(form.city, {'label' : 'Ville'} ) }}
                {{ form_row(form.categorie) }}
                {{ form_row(form.lat) }}
                {{ form_row(form.longs) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description, {'attr': {'rows' : '7' } } ) }}
            </div>
            <button class="btn btn-success">Ajouter</button>
    </div>
    {{ form_end(form) }}
</section>


{% endblock %}
