{% extends 'base.html.twig' %}

{% block title %}Place index{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">

{% endblock %}

{% block body %}

<div class="banner d-flex justify-content-center align-items-center">
  {% include 'place/_search.html.twig'  %}
</div>


<div class="place mt-5">

    <div class="container-fluid">
          <div class="row">
          {% if places | length > 0 %}
          {% for place in places %}
          <div class="col-md-3 col-12 mb-3">
            <a href="/place/{{ place.id }}"
            class="card border border-top-0 border-bottom-0 border-left-0 border-right-0"
            style="width: 500px; max-width: 100%;">

              <div class="position-absolute p-2 text-danger fs-5">
                <i class="fas fa-heart"></i> <span>{{ place.likes | length }}</span>
              </div>
              <div class="card-head">
                <img src="{{ place.images[0].name }}" class="card-img-top card_img" alt="...">
              </div>

              <div class="card-body p-0 mt-4" style="line-height: 1em;">
                <p class="bg-info d-inline-block text-white p-1 rounded">{{ place.categorie.nom }}</p>
                <p class="card-title text-dark fs-6">{{ place.title }}</p>
                <h6 class="card-title"><i class="fas fa-map-marker-alt"></i>  {{ place.city }}</h6>
              </div>

            </a>
        </div>
        {% endfor %}
        {% else %}
        <p>Aucun résultat trouvé</p>
        {% endif %}
        <div>
          {{ knp_pagination_render(places) }}
        </div>
      </div>
</div>
</div>

{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

{% endblock %}

{% endblock %}