{% extends 'base.html.twig' %}

{% block title %}Place index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container form_search d-flex justify-content-center">
  <form action="">
      <div class="form_content">
          <input type="text" placeholder="Rechercher une destination">
          <button type="submit"><i class="fas fa-search"></i></button>
      </div>
  </form>
</div>


<section class=" container">
  <p>
  <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Recherche par ville
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="list-group">
    {% for ville in villes %}
  <a href="" class="list-group-item list-group-item-action text-capitalize">{{ ville }}</a>
  {% endfor %}
</div>
  </div>
</div>
</section>


<section class="place_recommander container mb-5">
  <h1 class="mb-4">Nos recommandation de la semaine</h1>
  <div class="row align-items-center">
    <a href="#" class="col-md-4 col-sm-12">
        <img src="{{ places[0].images[0].name }}" alt="">
        <p class="mt-2"><i class="fas fa-map-marker-alt me-2"></i> {{ places[0].city }} </p>
        <p class="fs-5"> {{ places[0].title }} </p>
    </a>
    <a href="#" class="col-md-4 col-sm-12">
        <img src="{{ places[0].images[0].name }}" alt="">
        <p class=" mt-2"><i class="fas fa-map-marker-alt me-2"></i> {{ places[0].city }} </p>
        <p class=" fs-5"> {{ places[0].title }} </p>
    </a>
    <a href="#" class="col-md-4 col-sm-12">
        <img src="{{ places[0].images[0].name }}" alt="">
        <p class="mt-2"><i class="fas fa-map-marker-alt me-2"></i> {{ places[0].city }} </p>
        <p class=" fs-5"> {{ places[0].title }} </p>
    </a>
  </div>
</section>



<div class="place container mb-5">
    <h1 class="mb-4">Idée de lieux à visiter</h1>
      <div class="carousel-place d-flex align-items-center">
        {% for place in places %}
            <a href="/place/{{ place.id }}" class="card text-black">
            <img src="{{ place.images[0].name }}" class="card-img" alt="...">
            <div class="card-body">
              <p class="card-text"><i class="fas fa-map-marker-alt me-2"></i> {{ place.city }} </p>
              <p class="card-text fs-5"> {{ place.title }} </p>
            </div>
            </a>
          {% endfor %}
        </div>
    </div>
  </div>

<div class="place container">
  <h1 class="mb-4">Lieux les plus <i class="fas fa-heart text-danger" style="font-size: 48px;"></i></h1>
      <div class="carousel-place d-flex align-items-center">
        {% for place in places %}
            <a href="/place/{{ place.id }}" class="card text-black">
            <img src="{{ place.images[0].name }}" class="card-img" alt="...">
            <div class="card-body">
              <p class="card-text"><i class="fas fa-map-marker-alt me-2"></i> {{ place.city }} </p>
              <p class="card-text fs-5"> {{ place.title }} </p>
            </div>
            </a>
          {% endfor %}
        </div>
    </div>
  </div>


{% block javascripts %}
<script type="text/javascript" src="{{ asset('./js/slick/slick.js') }}"></script>
<script src=" {{ asset('./js/carousel.js')}}"></script>
<script>
  window.onload = CarouselPlace();
</script>
{% endblock %}

{% endblock %}