{% extends 'base.html.twig' %}

{% block title %}COREEGO | Ajouter un lieu{% endblock %}


{% block stylesheets %}
<style>

    footer{
        display: none!important;
}
</style>

{% endblock %}

{% block body %}


<div class="crochet shadow" onclick="document.querySelector('.mapdiv').classList.toggle('m')" ><i class="fas fa-chevron-right"></i></div>
<div class="mapdiv px-3 shadow">

    {{ form_start(form) }}
    <div class="d-flex w-100">
        <button type="button" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalTwo"><i class="fas fa-edit"></i></button>
        <!--<button id="find-me" class=" ms-3 d-block btn btn-info text-white">Où suis-je ?</button>-->
    </div>
    <div class="row">
        <div class="col-md-6 col-4">
            {{ form_row(form.lat, {'attr' : {'readonly': 'true'}  } ) }}
        </div>
        <div class="col-md-6 col-4">
            {{ form_row(form.longs, {'attr' : {'readonly': 'true'}  } ) }}
        </div>
        <small class="mt-3">Si la carte est blanche, c'est que vous n'avez pas bien renseigné la longitude ou la latitude </small>
    </div>

    <div class="mt-0">
        <div class="my-3">
            {{ form_row(form.title) }}
        </div>
        <div class="my-3">
            {{ form_row(form.city) }}
        </div>
        {% if app.user.roles[0] == 'ROLE_ADMIN' %}
            {{ form_row(form.premium, {'label' : 'Recommander' } ) }}
            {{ form_row(form.statut) }}
        {% else %}
        <div class="d-none">
            {{ form_row(form.premium, {'label' : 'Recommander' } ) }}
            {{ form_row(form.statut) }}
        </div>
        {% endif %}
        <div class="my-3">
            {{ form_row(form.categorie) }}
        </div>
        <div class="my-2">
            {{ form_row(form.description, {'attr': {'rows' : '7', 'class' : 'form-control' } })}}
        </div>
        {{ form_row(form.images) }}
        <button  type="submit" class="btn btn-success my-3">{{ button_label|default('Créer') }}</button>
    </div>
    {{ form_end(form) }}

</div>

<div id="kakaomap" style="width: 100vw; height: 100vh; z-index: 100; overflow-y: none;"></div>
<div id="maphidden">
    <div id="map" style="width: 100vw; max-width: 100%; height: 60vh; z-index: 100; " ></div>
    <div id="roadview" style="position:relative; z-index: 1; width:100vw; max-width: 100%; height: 40vh"></div>
        <p class="bg_rouge p-2 rounded fw-bold text-white" style="z-index: 500; position: fixed; left: 0; top: 25%; transform: rotate(90deg);">Map</p>
        <p class="bg_rouge p-2 rounded fw-bold text-white" style="z-index: 500; position: fixed; left: -30px; bottom: 20%; transform: rotate(90deg);">Street view</p>
    </div>
</div>



  <!-- Modal -->
  <div id="kakao">
      <div class="modal fade modalkakao" id="exampleModalTwo" tabindex="-1" aria-labelledby="exampleModalLabelTwo" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabelTwo">Longitude, Latitude </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" methods="GET" onsubmit="info(event)">
                <input type="text" placeholder="33.450701, 126.570667" name="location" class="form-control" />
                <button class="btn btn-primary my-3">Recherche</button>
            </form>
        </div>
    </div>
</div>
</div>

</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d19498b7f0b48e46cf0621e298e5e4c5"></script>
<script src="{{ asset('./js/placenew.js') }}"></script>

<script>


var mapContainer2 = document.getElementById('kakaomap'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.527593, 126.891654), // 지도의 중심좌표
        level: 12 // 지도의 확대 레벨
    };

// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
var map = new kakao.maps.Map(mapContainer2, mapOption);

document.querySelector('#find-me').addEventListener('click', geoFindMe);


 function geoFindMe() {


function success(position) {
  const latitude  = position.coords.latitude;
  const longitude = position.coords.longitude;

  status.textContent = '';

  location.href = `?location=${latitude},${longitude} `
}

function error() {
  status.textContent = 'Unable to retrieve your location';
}

if (!navigator.geolocation) {
  status.textContent = 'Geolocation is not supported by your browser';
} else {
  navigator.geolocation.getCurrentPosition(success, error);
}

}
</script>

{% endblock %}
