{% extends 'base.html.twig' %}

{% block title %}New Place{% endblock %}




{% block body %}
<section class="form container">
    <h1>Créer votre lieu</h1>
    {{ form_start(form) }}
    <div class="row align-items-end align-content-center ">
        <div class="col-md-4 col-4">
            {{ form_row(form.lat, {'attr' : {'readonly': 'true'}  } ) }}
        </div>
        <div class="col-md-4 col-4">
            {{ form_row(form.longs, {'attr' : {'readonly': 'true'}  } ) }}
        </div>
        <div class="col-md-2 col-2">
            <!-- Button trigger modal -->
            <span type="button" class="btn btn-primary vertical-align-basseline" data-bs-toggle="modal" data-bs-target="#exampleModalTwo">Localisation</span>
        </div>
    </div>
    <div id="other-form">
        <button class="btn btn-warning mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            Suivant >
        </button>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Editer le lieu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
            <div class="p-3 mt-3">
                <div class="my-3">
                    {{ form_row(form.city) }}
                </div>
                <div class="my-3">
                    {{ form_row(form.title) }}
                </div>
                <div class="my-3">
                    {{ form_row(form.description, {'attr': {'rows' : '7' } })}}
                </div>
                {{ form_row(form.images) }}
                <button  type="submit" class="btn btn-success my-3">{{ button_label|default('Enregistrer') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div id="map" style="width: 100%; height: 400px;" class="my-3" ></div>


  <!-- Modal -->
  <div id="kakao">
      <div class="modal fade modalkakao" id="exampleModalTwo" tabindex="-1" aria-labelledby="exampleModalLabelTwo" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabelTwo">Longitude, Latitude </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" methods="GET" onsubmit="info(event)">
                <input type="text" placeholder="33.450701, 126.570667" name="location" class="form-control" />
                <button class="btn btn-primary my-3">Recherche</button>
            </form>
        </div>
    </div>
</div>
</div>

</div>


</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30142185ce9d5d611e65fe60474b580d"></script>
<script src="{{ asset('./js/placenew.js') }}"></script>
{% endblock %}
