{% extends 'base.html.twig' %}

{% block title %}Place{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="viewone">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for images in place.images %}
              <div class="carousel-item">
                <img src="{{ images }}" alt="">
              </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    <div>



<div class="container mt-4 p-3">
    <div class="row border-bottom">
        <div class="col-md-8">
          <div class="d-flex align-content-center">
            <div>
              {% if app.user and place.isRouteUser(app.user) %}
              <a href="{{ path("place_like", {'id': place.id} ) }}" class="btn btn-outline-danger js_like">J'annule</a>
              {% else %}
              <a href="{{ path("place_like", {'id': place.id} ) }}" class="btn btn-outline-primary js_like">Je veux visiter</a>
              {% endif %}
            </div>
            <div class="align-items-center">
              <p class="align-items-center ms-3">
                {% if app.user and place.isLike(app.user) %}
                <a href="{{ path('like_place', { 'id': place.id } ) }}" class="fas fa-heart fs-2 text-danger like"></a>
                {% else %}
                <a href="{{ path('like_place', { 'id': place.id } ) }}" class="far fa-heart fs-2 text-danger like"></a>
                {% endif %}
                <span id="is-like">{{ place.likes | length }}</span>
              </p>
            </div>
          </div>
            <h1>{{ place.title }}</h1>
        </div>
        <div class="col-md-4">
            <h4> {{ place.user.pseudo }} </h4>
        </div>
    </div>
    <div class="row border-bottom">
        <div class="col py-4">
            <p>{{ place.description | nl2br }}</p>
        </div>
    </div>
    <h4 class="py-3">Commentaires</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" onclick="submitform" class="btn btn-outline-success my-3"><i class="fas fa-paper-plane"></i></button>
  {{ form_end(form) }}

    {% for fd in findComment %}
    <div class="commentaire border rounded p-3 mb-3">
      <div class="d-flex align-items-center border-bottom">
            <img src="{{ asset('./avatar/')}}{{ fd.user.avatar }}" alt="">
            <p class="mx-3">{{ fd.user.pseudo }} <br> {{  fd.date }} </p>
          </div>
      <p class="py-2">{{ fd.content | raw | nl2br }}</p>
    </div>
    {% endfor %}
</div>

    {% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="{{ asset('./js/carousel.js') }}"></script>
<script>
  function onClickBtn(event){
      event.preventDefault();

      const url = this.href;

      const btnlike = document.querySelector('.js_like');



      axios.get(url).then(res => {

        if(btnlike.classList.contains('btn-outline-danger')){
          btnlike.innerHTML = "Je veux visiter"
          btnlike.classList.replace('btn-outline-danger', 'btn-outline-primary')
        }else{
          btnlike.classList.replace('btn-outline-primary','btn-outline-danger')
          btnlike.textContent = "J'annule"
        }
      })
  }

  function isLiked(event){
    event.preventDefault()

    const spanCount = document.querySelector('#is-like');
    const icon = document.querySelector('.like');

    const url = this.href;

    axios(url).then(res => {
      const like = res.data.like
      spanCount.textContent = like

      if(icon.classList.contains('fas')){
        icon.classList.replace('fas', 'far')
      }else{
        icon.classList.replace('far', 'fas')
      }

    }).catch(function(error){
        console.log(error)
    })
  }


  document.querySelectorAll('a.js_like').forEach(e => {
    e.addEventListener('click', onClickBtn)
  })


  document.querySelector('.fa-heart').addEventListener('click', isLiked)




</script>


{% endblock %}
