{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    <div class="form container">
        {{ form_start(form) }}
    {{ form_row(form.description) }}
    {{ form_row(form.pseudo, {'attr' : {'class' : 'd-none'}, 'label' : false } ) }}
    {{ form_row(form.email, {'attr' : {'class' : 'd-none'}, 'label' : false } ) }}
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
    </div>
<script>
    /*const inpFile = document.getElementById("user_avatar")
    const imgAvatar = document.querySelector(".avatar img")
    const svg = document.querySelector("svg")

    inpFile.addEventListener("change", function() {
        var file = this.files[0]

        if(file){

            const reader = new FileReader();

            reader.addEventListener("load", function() {
                imgAvatar.setAttribute("src", this.result);
            })
            reader.readAsDataURL(file)
        }
    })*/
</script>

{% endblock %}
