{% extends 'base.html.twig' %}

{% block title %}COREEGO | Ma liste{% endblock %}

{% block body %}


<section class="list top_margin">

    <div class="container">
        <table class="table table-striped">
            {% for message in app.flashes('message') %}
            <div class="alert alert-success">
                {{ message }}
                </div>
            {% endfor %}
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                    {% for route in routes %}
                    <tr>
                        <td>{{ route.place.title }}</td>
                        <td>{{ route.place.city.name }}</td>
                        <td>
                            <div class="btn-group">
                                <button style="outline: none!important;" type="button" class="btn btn-secondary bg-transparent border-0 p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="fas fa-cog fs-3" style="color: rgb(158, 158, 158)"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href=" {{ path('place_show', { 'id': route.place.id } )}} " class="btn btn-success btn-sm dropdown-item"><i class="fas fa-eye"></i> apercus</a></li>
                                  <li>
                                    <a href=" {{ path('placelike_delete', { 'id': route.id } ) }} " onclick="return confirm('Voulez vous supprimer cette place ?')" class="btn btn-danger btn-sm dropdown-item"><i class="fas fa-trash-alt"></i> supprimer</a>
                                  </ul>
                              </div>

                          </td>

                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </section>

    {% endblock %}