{% extends 'base.html.twig' %}

{% block title %}Utilisateur - {{ user.pseudo }}{% endblock %}
{% block body %}

<section class="profil container top_margin">
    <div class="profil_header">

      <h1 class="bleu">{{ user.pseudo }}</h1>

      {% if user.roles[0] == "ROLE_ADMIN" %}
        <h6 class="fw-bold">ADMINISTRATEUR</h6>
      {% endif %}

      {% if user.roles[0] == "ROLE_ENTREPRISE" %}
        <h6 class="fw-bold">Entreprise</h6>
      {% endif %}

      {% if user.roles[0] == "ROLE_USER"  %}
      <div class="palmares  mb-2">
        {% if places|length < 50 %}
        <p><small>Voyaeur novice</small> <br> <i class="fas fa-star text-warning"></i></p>
        {% elseif places|length < 300 %}
        <p><small>Voyageur aquerie</small> <br> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i></p>

        {% elseif places|length > 300 %}
        <p><small>Voyageur expert</small> <br>
          <i class="fas fa-star text-warning"></i>
          <i class="fas fa-star text-warning"></i>
          <i class="fas fa-star text-warning"></i>
        </p>
        {% endif %}
      </div>
      {% endif %}

      <div class="description p-2">
        {% if user.description == "" %}
          <p>Aucune description</p>
        {% endif %}
        {{ user.description | raw }}
      </div>
      {% if user.pseudo == app.user.pseudo %}
      <a class="text-center d-block mt-3" href="{{ path('user_edit', {'pseudo' : user.pseudo } ) }}"><i class="far fa-edit text-black"></i> Editer</a>
      {% endif %}
  </div>
  </section>

<div class="container">
  <ul class="nav nav-pills tabs_user p-2" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active text-white fw-bold btn-sm" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Lieux publiés - {{ places | length }} </button>
    </li>
    {% if user.pseudo == app.user.pseudo %}
    <li class="nav-item" role="presentation">
      <button class="nav-link text-white fw-bold btn-sm" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Lieux aimés - {{ likes | length }}  </button>
    </li>
    {% endif %}
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
    {% if places|length > 0 %}
    <table class="table table-responsive">
      {% for place in places %}
      <tr class="align-midle">
        <td>
          <img src="{{ asset('./place/') }}{{ place.images[0].name }}" class="img-fuild mx-auto" width="100" alt=""><br>
          <small class="bg-info d-inline-block text-white px-1 rounded mt-2">{{ place.categorie.nom }}</small>
          <a href="{{ path('carnet_de_route') }}?city={{ place.city.name }}" class="mt-2 d-block"> <i class="fas fa-map-marker-alt"></i>  {{ place.city.name }}</a>
        </td>
        <td>
         {{ place.title }}
        </td>
        <td>
          <div class="btn-group">
            <button style="outline: none!important;" type="button" class="btn btn-secondary bg-transparent border-0 p-0" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-cog fs-3" style="color: rgb(158, 158, 158)"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href=" {{ path('place_show', { 'id': place.id } )}} " class="btn btn-success btn-sm dropdown-item"><i class="fas fa-eye"></i> apercus</a></li>
              <li>
                {% if place.user.id == app.user.id %}
                <a href=" {{ path('place_edit', {'id': place.id} ) }} " class="btn btn-primary btn-sm dropdown-item"><i class="fas fa-edit"></i> edit</a>
                {% endif %}
              </li>
              <li>
                {% if place.user.id == app.user.id %}
                <a href=" {{ path('place_delete', {'id': place.id} ) }} " onclick="return confirm('Voulez vous supprimer cette place ?')" class="btn btn-danger btn-sm dropdown-item"><i class="fas fa-trash-alt"></i> supprimer</a>
                {% endif %}
              </ul>
          </div>

        </td>
      </tr>
        {% endfor %}
    </table>
      {% else %}
        <p> Aucune places publiées  </p>
      {% endif %}
    </div>

    {% if user.pseudo == app.user.pseudo %}
    <div class="tab-pane fade mt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {% if likes|length > 0 %}
        <table class="table table-responsive">
      {% for like in likes %}
      <tr class="align-midle">
        <td>
          <img src="{{ asset('./place/') }}{{ like.place.images[0].name }}"  width="100"   alt=""><br>
          <small class="bg-info d-inline-block text-white px-1 rounded mt-2">{{ like.place.categorie.nom }}</small>
          <a href="{{ path('carnet_de_route') }}?city={{ like.place.city.name }}" class="mt-2 d-block"> <i class="fas fa-map-marker-alt"></i>  {{ like.place.city.name }}</a>
        </td>
        <td>
         {{ like.place.title }}
        </td>
        <td>
          <div class="btn-group">
            <button style="outline: none!important;" type="button" class="btn btn-secondary bg-transparent border-0 p-0" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-cog fs-3" style="color: rgb(158, 158, 158)"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href=" {{ path('place_show', { 'id': like.place.id } )}} " class="btn btn-success btn-sm dropdown-item">
                  <i class="fas fa-eye"></i> apercus</a>
                </li>
              </ul>
          </div>

        </td>
        </tr>
      {% endfor %}
      </table>
      {% else %}
        <p> Aucune places aimées  </p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% block javascripts %}{% endblock %}

{% endblock %}
