{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

<section class="container top_margin">
    <div class="row mx-1  mt-2">
        <div class="badge bg-info col-md-6  m-auto text-center py-2 text-white rounded">
            <h1>{{ sujet.categorie }}</h1>
            <a href="{{ path('sujet_categorie', {'categorie': sujet.categorie.id}) }}">retourner à la categorie</a>
        </div>
    </div>

    <h4 class="text-center my-3">{{ sujet.title }}</h4>

        <div class="sujet_table w-100 position-relative">
           <div class="left bg-light">
            <i class="fas fa-crown fs-1 position-absolute start-0" style="transform: rotate(-35deg);margin-left: -20px; margin-top: -0.5em; color: rgb(175, 175, 17)"></i>
               <a href="{{ path('user_show', {'id' : sujet.user.id }) }}" class="fw-bold p-3 mt-4 d-block">{{ sujet.user.pseudo }}</a>
           </div>
           <div class="center">
                <p style="line-height: 1em;">{{ sujet.content | nl2br }}</p>
            </div>
            <small class="position-absolute end-0 fw-bold" style="margin: 10px;">Il y a {{ sujet.createdAt | ago  }}</small>
        </div>

        <h4 class="my-3">{{ res | length }} Réponses</h4>

         {% for re in res %}

         <div class="mt-5 sujet_table w-100 position-relative">
            <div class="left bg-light">
                <a href="{{ path('user_show', {'id' : re.user.id }) }}" class="p-3 mt-4 d-block">{{ re.user.pseudo }}</a>
            </div>
            <div class="center">
                 <p style="line-height: 1em;">{{ re.content | nl2br }}</p>
             </div>
             <small class="position-absolute end-0 fw-bold" style="margin: 10px;">{{ re.createdAt | ago  }}</small>
         </div>

         {% endfor %}

        <div class="row mb-5">
            <div class="col-12 mt-5" align="center">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Répondre
                </button>
                {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-success">
                    Répondre <i class="fas fa-lock"></i>
                </a>
                {% endif %}
            </div>
        </div>
</section>






<!--MODAL-->

<div class=" modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Répondre à {{ sujet.user.pseudo }} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ form_start(form) }}
            {{ form_row(form.content) }}
            <input type="submit" class="btn btn-success mt-3" value="Envoyer"></input>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}