{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

    <section class="container">
        <div class="forum">
            <div class="content my-2">
                <h1 class="mb-3">Sujets récents</h1>
                {% include 'forum/_search.html.twig' %}
                <div class="btn-filtre d-flex justify-content-between">
                    <div class="left">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{{ path('forum_accueil') }}" type="button" class="btn btn-info border">Categorie</a>
                            <a href="{{ path('forum_sujet') }}"  type="button" class="btn btn-info border">Derniers sujets</a>
                          </div>
                        </div>
                    <div class="right d-sm-none d-md-block d-none">
                        <a href=" {{ path('sujet_new') }} " class="btn fw-bold" style="background-color: orange; color: white;">Nouveau sujet</a>
                    </div>
                </div>
            </div>
        </div>
        <table>
        {% for sujet in sujets %}
                <tr class="categorie_table">
                    <td class="left text-center">
                        <i class="fas fa-user"></i><br>
                        <a href="{{ path('user_show', {'id' : sujet.user.id }) }}" class="fw-bold  d-block">{{ sujet.user.pseudo }}</a>
                    </td>
                    <td class="middle">
                        <a href="{{ path('sujet_view', {'id' : sujet.id, 'title' : sujet.title }) }}">
                            {{ sujet.title }}
                        </a>
                        <p>Il y a {{ sujet.createdAt | ago }}</p>
                    </td>
                    <td class="right text-center d-md-block d-none">
                        <i class="far fa-comment fs-3"></i>
                        <p>{{ sujet.sujetResponses | length }}</p>
                    </td>
                </tr>

                {% endfor %}
            </table>
    </section>

{% endblock %}